.story{
    width: 60px;
    height: 70px;

    margin: 0 1% 0 1%;

    color: white;
    text-align: center;

    background-color: rgb(175, 0, 210);
}

.story--circle{
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    flex: 0 0 auto;

    border-radius: 30px;

    /* background-color: aqua; */
}

.story--circle img {
    width: 100%;
    height: auto;
}