.stories{
    width: 515px;
    height: 110px;

    /* position: relative; */
    /* top: 8vh; */

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    overflow-x: auto;
    

    background-color: rgb(79, 79, 79);
}
