.post {
  width: 100%;
  height: auto;

  margin-top: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  color: white;
  }

.post > div {
  margin: 5px 0 5px 0;
}

.prof-info {
  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
}

.prof-info__img {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  border-radius: 20px;
}

.prof-info__img img{
  width: 100%;
  height: auto;
}

.post--img-container{
    width: 100%;
    max-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(84, 84, 84);

    overflow: hidden;
}

.post--img {
  width: 515px;
  height: auto;

  border-radius: 5px;
}

.post--icons {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-icons__left {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post-icons__right {
  width: 10%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post--descr {
  width: 100%;
  height: auto;
}


.comm-inp{
    width: 100%;
    height: 30px;
    
    padding: 2px 0px 2px 0px;

    border: 0;
    border-bottom: 1px solid white;

    color: white;
    
    background-color: transparent;
}


.comm-inp::placeholder{
    color: rgb(0, 255, 38);
}

.comm-inp:focus , .comm-inp:active  {
    /* border: 1px solid rgb(0, 255, 0); */
    outline: 1px solid rgb(0, 255, 38);
}