.page-container{
    width: 100vw;
    height: auto;  

    position: relative;

    background-color: tomato;
}

.page-container__inner{
    width: 60%;
    min-height: 90%;
    position: absolute;

}