@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.txt{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.icons{
    width: 32px;
    fill: white;
}